.file-input {
    display: none;
}

.form-container {
    display: flex;
    flex-flow: column;
    width: 1000px;
    min-height: 300px;
    background-color: rgba(87, 112, 146, 0.318);
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.file-container {
    display: flex;
    flex-flow: column;
}

.title-file-name {
    font-weight: 700;
}

.upload-button {
    width: 170px;
    height: 30px;
    font-weight: 800;
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 5px;
}

.title {
    font-weight: 800;
    color: #1976d2;
    margin-bottom: 1%;
    margin-top: 1%;
}

.end-balance-validation {
    margin-top: 2%;
    margin-bottom: 2%;
}

.duplicate-record-validation {
    margin-bottom: 5%;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }