<div class="form-container">
    <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload />

    <div class="file-container">
        <span class="title">Upload file to validate</span>
        <button mat-mini-fab color="primary" class="upload-button" (click)="fileUpload.click()">Upload file
        </button>

        <span class="title-file-name">{{message || "No file uploaded yet."}}</span>
    </div>

    <div *ngIf="isLoading" class="loader"></div>

    <app-table class="duplicate-record-validation" *ngIf="invalidDuplicateData.length>0 && isSubmit; else uniqueRecords"
        [invalidDuplicateData]="invalidDuplicateData" [caption]="captionDuplicate"></app-table>

    <app-table class="end-balance-validation" *ngIf="invalidEndBalanceData.length>0; else endBalanceCorrect"
        [caption]="captionEndBalance" [invalidEndBalanceData]="invalidEndBalanceData"></app-table>

    <ng-template class="template-alignment" #uniqueRecords>
        <span *ngIf="isSubmit" class="message-no-duplicate title">No Duplicate Found</span>
    </ng-template>

    <ng-template class="template-alignment" #endBalanceCorrect>
        <span *ngIf="isSubmit" class="message-no-end-balance title">End blance for all record is correct</span>
    </ng-template>
</div>