.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-top: 5%;
}

.styled-table thead tr {
    background-color: #1976d2;
    color: #ffffff;
    text-align: left;
}

.styled-table th {
    padding: 12px 85px;
    font-size: 15px;
}

.th-float-right {
    float: right;
    margin-right: 12%;
}

.active-row {
    background-color: rgb(145, 187, 243);
}

.styled-table td {
    padding: 12px 85px;
    font-size: 15px;
}

.styled-table tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tr:last-of-type {
    border-bottom: 2px solid #1976d2;
}

.group-title {
    color: #1976d2;
    font-size: 20px;
    font-weight: 700;
}

.title {
    font-weight: 800;
    color: #1976d2;
    margin-bottom: 1%;
    margin-top: 1%;
}

.upload-button {
    width: 170px;
    height: 30px;
    font-weight: 800;
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 5px;
}

.exoprt-button-container {
    display: flex;
    align-items: center;
    flex-flow: column;
    margin-top: 2%;
}