<table aria-label="table here" class="styled-table" #pdfTable>
    <caption class="title">{{caption}}</caption>
    <thead>
        <tr>
            <th class="th-float-right">Reference</th>
            <th>Description</th>
        </tr>
    </thead>
    <tr>
        <td colspan="2">
            <app-template-duplicate-validation *ngIf="invalidDuplicateData.length>0"
                [invalidDuplicateData]="invalidDuplicateData"></app-template-duplicate-validation>
            <app-template-end-balance-validation *ngIf="invalidEndBalanceData.length>0"
                [invalidEndBalanceData]="invalidEndBalanceData"></app-template-end-balance-validation>
        </td>
    </tr>
</table>

<section class="exoprt-button-container">
    <button id="exportBtn" aria-label="export to pdf button" type="button" color="primary" class="upload-button" (click)="exportToPDF()">Export To PDF</button>
</section>